@model Examensarbete.Models.AddPriceViewModel
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
@{
    ViewBag.Title = "Add price to roomcategory";
    Layout = "AdminLayout.cshtml";
}

<h2>Add price to category</h2>

@using (Html.BeginForm())
{
    <div>
    @Html.HiddenFor(m=>m.CategoryId)
    <br />
    @Html.Label("Pris")
    <br />
    @Html.TextBoxFor(m=>m.Price)
    <br /><br />
    
    @Html.Label("Välj första och sista incheckningsdatum")
    <br />
    @Html.TextBoxFor(m => m.FirstDay, "{0:yyyy-MM-dd}", new { @class="datepicker"}) 
    @Html.TextBoxFor(m => m.LastDay, "{0:yyyy-MM-dd}", new { @class = "datepicker" })
    <br /><br />
    @Html.ActionLink("Tillbaka", "Category", new { id = Model.CategoryId }, new { @class = "btn btn-info", style = "float:left" })
    <input type="submit" value="Spara" style="margin-left:40px"  />

    </div>
}


@section scripts
{
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <script>

    $(function () {
        $(".datepicker").datepicker({dateFormat: 'yy-mm-dd' });
    });
    </script>

}